.dragtable-sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
}
.dragtable-sortable li {
  margin: 0;
  padding: 0px;
  float: left;
  font-size: 1em;
  background: white;
}

.dragtable-sortable th,
.dragtable-sortable td {
  border-left: 0px;
}

.dragtable-sortable li:first-child th,
.dragtable-sortable li:first-child td {
  border-left: 1px solid #ccc;
}

.ui-sortable-helper {
  opacity: 1;
  filter: alpha(opacity=70);
}
.ui-sortable-placeholder {
  -moz-box-shadow: 4px 5px 4px #c6c6c6 inset;
  -webkit-box-shadow: 4px 5px 4px #c6c6c6 inset;
  box-shadow: 4px 5px 4px #c6c6c6 inset;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  visibility: visible !important;
}
.ui-sortable-placeholder * {
  opacity: 0;
  visibility: hidden;
}

th,
td {
  background: rgb(228, 224, 224);
}

table.sar-table th {
  background: rgb(228, 224, 224);
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}
.table-content {
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #8888887e;
  font-size: 15px;
  color: rgb(61, 59, 59);
  font-family: Arial, Helvetica, sans-serif;
}
li {
  margin-bottom: 10px;
  margin-top: 10px;
}
ul {
  display: inline;
}
td {
  padding: 0 15px 0 15px;
}
#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}
.right,
.left {
  font-size: 15px;
  color: gray;
}
